<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:component-scan base-package="com" />-->


    <!--注入数据源配置信息-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/talent_management?serverTimezone=GMT%2b8"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <!--注入SessionFactory实例配置信息-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.connection.url">
                    jdbc:mysql://localhost:3306/talent_management?serverTimezone=GMT
                </prop>
                <prop key="hibernate.connection.driver_class">
                    com.mysql.cj.jdbc.Driver
                </prop>
                <prop key="connection.autocommit">true</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>com/entity/Talent.hbm.xml</value>
                <!--<value>classpath:com/entity/Talent.hbm.xml</value>-->
            </list>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.entity.Talent</value>
            </list>
        </property>
    </bean>

    <bean id="baseDAO" class="com.dao.BaseHibernateDAO" autowire="byName"/>

    <bean id="talentDAO" class="com.dao.TalentDAO" parent="baseDAO"/>

    <!--引用类型的自动注入autowire(by name)-->
    <bean id="userService" class="com.service.UserService" autowire="byName"/>

    <bean id="userAction" class="com.action.UserAction" scope="prototype" autowire="byName"/>


</beans>